html {
  background-color: #000000;
  color: #f8f9fa;
  font-family: 'Open Sans Condensed', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Passion One', cursive;
  color: #FAFFD8;
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.bottomFold {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  margin-bottom: 4em;
}
.articles {
  padding: 1em;
}
.socialFeed {
  padding: 1em;
  max-width: 330px;
}
.embedWrapper {
  background: #ffffff;
  padding: .1em;
  border-radius: 6px;
}
button {
  background: none;
  border: none;
}
.tiktok-embed {
  min-width: 300px;
}

.blue-button {
  margin-right: 1em;
  background: #3066BE;
  padding: .25em 1em;
  border-radius: 8px;
  border: none;
  filter: drop-shadow(0 0 3px rgb(26, 26, 26));
  color: #FAFFD8;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .bottomFold {
    flex-direction: row;
  }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}